# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\desenvolvimento\js\chat-node-express-socketio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
